.task {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background: #eee;
}

.task:last-child {
    margin-bottom: 0;
}

.taskTitle {
    width: 100%;
}

.btnGroup {
    display: flex;
    gap: 6px;
    margin-left: auto;
}