.todoList {
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 3px #aaa;
}

.btnGroup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 16px;
}