.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.inp {
    align-self: stretch;
    outline: none;
}

.inp:focus {
    outline: 1px solid #515151;
    border: 0;
}