.header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 18px 0;
    margin: 0 10px;
}

.title {
    width: 100%;
}

.btnGroup {
    display: flex;
    gap: 6px;
    margin-left: auto;
}